# SPDX-FileCopyrightText: 2026 Jan Kleinert <jan.kleinert@dlr.de>
#
# SPDX-License-Identifier: Apache-2.0

# Build outputs
build/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

# Ninja
build.ninja

# VSCode
.vscode/

# Python
__pycache__/
*.py[cod]

# macOS
.DS_Store

# node
node_modules/
